QHAQFWS/QHAQFWS.Core/Connected Services/QHDataService/DataService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://221.207.21.89:8089/FreshWCF/DataService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/SummerFresh.WCF" />
  <xs:import schemaLocation="http://221.207.21.89:8089/FreshWCF/DataService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/SummerFresh.WCF.Model" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/SummerFresh.WCF" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/SummerFresh.WCF" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteDailyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="verifyState" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteDailyDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/SummerFresh.WCF.Model" minOccurs="0" name="GetSiteDailyDataResult" nillable="true" type="q3:ArrayOfSiteDaily" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteHoursData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="verifyState" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetSiteHoursDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/SummerFresh.WCF.Model" minOccurs="0" name="GetSiteHoursDataResult" nillable="true" type="q4:ArrayOfSiteDaily" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDailyData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="verifyState" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityDailyDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/SummerFresh.WCF.Model" minOccurs="0" name="GetCityDailyDataResult" nillable="true" type="q5:ArrayOfCityDaily" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityHoursData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endTime" type="xs:dateTime" />
        <xs:element minOccurs="0" name="verifyState" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCityHoursDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/SummerFresh.WCF.Model" minOccurs="0" name="GetCityHoursDataResult" nillable="true" type="q6:ArrayOfCityDaily" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>