QHAQFWS/QHAQFWS.Core/Connected Services/QHDataService/DataService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/SummerFresh.WCF.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/SummerFresh.WCF.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfSiteDaily">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="SiteDaily" nillable="true" type="tns:SiteDaily" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfSiteDaily" nillable="true" type="tns:ArrayOfSiteDaily" />
  <xs:complexType name="SiteDaily">
    <xs:sequence>
      <xs:element minOccurs="0" name="AQI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Area" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AreaCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CO_Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Measure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NO2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NO2_Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O3_8h" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O3_8h_Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O3_Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PM10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PM10_Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PM2_5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PM2_5_Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryPollutant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO2_Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SiteName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimePoint" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Unheathful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SiteDaily" nillable="true" type="tns:SiteDaily" />
  <xs:complexType name="ArrayOfCityDaily">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="CityDaily" nillable="true" type="tns:CityDaily" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfCityDaily" nillable="true" type="tns:ArrayOfCityDaily" />
  <xs:complexType name="CityDaily">
    <xs:sequence>
      <xs:element minOccurs="0" name="AQI" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CO" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CO_Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CityName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Measure" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NO2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NO2_Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O3" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O3_8h" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O3_8h_Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="O3_Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PM10" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PM10_Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PM2_5" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PM2_5_Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PrimaryPollutant" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Quality" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO2" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SO2_Mark" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TimePoint" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Unheathful" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CityDaily" nillable="true" type="tns:CityDaily" />
</xs:schema>